/* basic tags */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Varela Round', sans-serif;
}

a::first-letter,
h1::first-letter,
h2::first-letter {
    color: rgb(170, 49, 49);
}

h6 {
    font-weight: 900;
}

p {
    padding-left: 2%;
}

section {
    padding: 4% 15% 8%;
}

/* classes */


.light-section {
    background-color: rgb(194, 194, 194);
    color: rgb(35, 35, 35);
}

.dark-section {
    background-color: rgb(35, 35, 35);
    color: rgb(194, 194, 194);
}


/* id's */

/* interests ----------------------------------------------------*/

/* art ----------------------------------------------------------*/

/* martial-art --------------------------------------------------*/

/* astronomy ----------------------------------------------------*/

/* robotic ------------------------------------------------------*/

/* music --------------------------------------------------------*/

/* books --------------------------------------------------------*/

/* movies -------------------------------------------------------*/

/* tv-shows -----------------------------------------------------*/

/* section-01 ---------------------------------------------------*/

/* footer -------------------------------------------------------*/
#footer {
    font-size: 1.2rem;
    text-align: center;
    padding: 7% 15% 2%;
    color: rgb(112, 112, 112);
}

.accent {
    color: rgb(170, 49, 49);
}

.f-item {
    margin: 1%;
}